<launch>

<remap from="/mock_map" to="/cloud_pcd"/>

<node pkg="librrtserver_ros" type="librrtserver_ros_node" name="librrtserver_ros_node" output="screen">
  <rosparam command="load" file="$(find librrtserver_ros)/config/parameters.yaml" />
</node>

<!-- Launch RViz with the demo configuration -->
<node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find librrtserver_ros)/rviz/mockamap.rviz"/>

</launch>